bucket         = "replace-with-bootstrap-state-bucket-output"
key            = "environments/production/terraform.tfstate"
region         = "ap-southeast-1"
encrypt        = true
use_lockfile   = true
